@import "tailwindcss";

@theme {
    --color-primary : #FED700;
    --color-tcolor : #333E48;
    --font-inter: "inter", sans-serif;
    --font-roboto: "roboto", sans-serif;
}

.topbarList{
   @apply  relative font-inter flex items-center gap-2 text-tcolor after:absolute after:content-[""] after:h-4 after:w-[2px] after:bg-[#DDDDDD] after:-right-4 after:top-[2px]
}
.level0{
    @apply pl-2 px-4 py-1 hover:bg-blue-600 hover:text-white cursor-pointer select-none font-inter text-[14px]
}
.transition{
    @apply transform transition-transform duration-150
}
.searchbarIconhover{
    @apply relative after:absolute after:content-["0"] after:w-5 after:h-5 sm:after:bg-primary  after:text-white after:bg-tcolor after:top-3 after:-right-[7px] after:rounded-full after:text-center after:font-semibold sm:after:text-tcolor after:text-[14px]
}
@keyframes stickyAnimation {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}
.animate-sticky {
    animation: stickyAnimation 0.4s ease-in-out forwards;
}
.footerLi{
    @apply font-inter text-tcolor mb-3
} 
.footerSocial{
    @apply transition transform ;
    --webkiut-tap-highlight-color: transparent;
}
@media (hover: hover){
    .footerSocial{
        @apply hover:scale-110
    }
}
.footerSocial:active{
    @apply scale-90 opacity-80
}
.footerLink{
    @apply  relative after:absolute after:content-[""] after:w-0 after:h-[2px] after:bg-primary  after:text-white  after:-bottom-1 after:left-0 hover:text-black hover:after:w-full
}
.accordionHeading{
    @apply transition-all duration-300;
    --webkit-tap-highlight-color : transparent;
}
@media (hover: hover){
    .accordionHeading:hover{
        @apply translate-x-1 text-black;
    }
}
.accordionHeading:active{
    @apply translate-x-1 text-black scale-[0.97]
}
.mobileMenuLink {
    @apply relative text-gray-600 transition-all duration-300 select-none;
    -webkit-tap-highlight-color: transparent;

    @apply after:absolute after:content-[""] after:w-0 after:h-[2px] after:bg-primary after:bottom-1 after:left-0 after:transition-all after:duration-300;
}

@media (hover: hover) {
    .mobileMenuLink:hover {
        @apply text-black;
    }
    .mobileMenuLink:hover::after {
        @apply w-[40px];
    }
}

.mobileMenuLink:active {
    @apply text-black scale-95; 
}

.mobileMenuLink:active::after {
    @apply w-[40px];
}

.sidebarLiHover{
    @apply  text-gray-900 hover:text-black hover:bg-gray-200 transition-all duration-300 select-none;
    --webkit-tap-highlight-color : transparent;
}
@media (hover: hover) {
    .sidebarLiHover:hover {
        @apply bg-gray-200 text-black;
    }
}
.sidebarLiHover:active{
    @apply bg-gray-300 scale-[0.98] origin-center text-black
}

@font-face {
    font-family: "roboto";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Roboto/static/Roboto-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "inter";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Inter/static/Inter_18pt-Regular.ttf) format("truetype");
}