@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant touch (&:where(.touch, .touch *));
@layer base {
  body {
    @apply bg-white dark:bg-[#181818]  ;
  }
body, div, header, section, footer, p, span, h1, h2, h3, h4, h5, h6 {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@theme {
    --color-primary : #FED700;
    --color-tcolor : #333E48;
    --color-darkBg : #181818;
    --font-inter: "inter", sans-serif;
    --font-roboto: "roboto", sans-serif;
}

.topbarList{
   @apply  relative font-inter flex items-center gap-2 text-tcolor after:absolute after:content-[""] after:h-4 after:w-[2px] after:bg-[#DDDDDD] after:-right-4 after:top-[2px] dark:hover:text-white
}
.level0{
    @apply pl-2 px-4 py-1 hover:bg-blue-600 hover:text-white cursor-pointer select-none font-inter text-[14px]
}
.transition{
    @apply transform transition-transform duration-150
}
.searchbarIconhover{
    @apply relative after:absolute after:content-["0"] after:w-5 after:h-5 sm:after:bg-black   dark:after:bg-primary  dark:after:text-black  sm:after:bg-primary  after:text-white after:bg-tcolor after:top-3 after:-right-[7px] after:rounded-full after:text-center after:font-semibold sm:after:text-tcolor after:text-[14px]
}
@keyframes stickyAnimation {
    from {transform: translateY(-100%);}
    to {transform: translateY(0);}
}
.animate-sticky {
    animation: stickyAnimation 0.4s ease-in-out forwards;
}
.footerLi{
    @apply font-inter text-tcolor mb-3
} 
.footerSocial{
    @apply transition transform ;
    --webkit-tap-highlight-color: transparent;
}
@media (hover: hover){
    .footerSocial{
        @apply hover:scale-110
    }
}
.footerSocial:active{
    @apply scale-90 opacity-80
}
.footerLink{
    @apply  relative after:absolute after:content-[""] after:w-0 after:h-[2px] after:bg-primary  after:text-white  after:-bottom-1 after:left-0 hover:text-black dark:hover:text-red-500 hover:after:w-full dark:text-gray-300 dark:hover:after:bg-red-500  transition-all duration-300 ease-in-out
}
.formTxtHover{
    @apply  relative after:absolute after:content-[""] after:w-0 after:h-[2px] after:bg-blue-500  after:text-white  after:bottom-1.5 after:left-0 dark:hover:text-red-500 hover:after:w-full dark:text-gray-300 dark:hover:after:bg-red-500  transition-all duration-300 ease-in-out
}
.accordionHeading{
    @apply transition-all duration-300;
    --webkit-tap-highlight-color : transparent;
}
@media (hover: hover){
    .accordionHeading:hover{
        @apply translate-x-1 text-black;
    }
}
.accordionHeading:active{
    @apply translate-x-1 text-black scale-[0.97]
}
.mobileMenuLink {
    @apply relative text-gray-600 transition-all duration-300 select-none;
    -webkit-tap-highlight-color: transparent;

    @apply after:absolute after:content-[""] after:w-0 after:h-[2px] after:bg-primary after:bottom-1 after:left-0 after:transition-all after:duration-300;
}

@media (hover: hover) {
    .mobileMenuLink:hover {
        @apply text-black;
    }
    .mobileMenuLink:hover::after {
        @apply w-[40px];
    }
}

.mobileMenuLink:active {
    @apply text-black scale-95; 
}

.mobileMenuLink:active::after {
    @apply w-[40px];
}

.sidebarLiHover{
    @apply  text-gray-900 hover:text-black hover:bg-gray-200 transition-all duration-300 select-none;
    --webkit-tap-highlight-color : transparent;
}
@media (hover: hover) {
    .sidebarLiHover:hover {
        @apply bg-gray-200 text-black;
    }
}
.sidebarLiHover:active{
    @apply bg-gray-300 scale-[0.98] origin-center text-black
}
.btnHover{
    @apply absolute  inset-0 bg-black/10 opacity-0 rounded-br-full scale-x-0  origin-top-left z-10  transition-all duration-300 ease-in-out ;
    --webkit-tap-highlight-color: transparent;
}
@media (hover: hover){
    .group:hover .btnHover{
      @apply    group-hover:scale-x-100 group-hover:opacity-100
    }
}
.group:active{
    @apply scale-95 transition-transform duration-75
}
.group:active .btnHover{
    @apply bg-black/20;
}
@keyframes slideImgMotion {
    from{
        transform: translateX(700px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideImgMotionTop {
    from{
        transform: translateY(400px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes textAnim {
    from{
        transform: translateY(300px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes anim-top {
    from{
        transform: translateY(-50px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes anim-topWatch {
    from{
        transform: translateY(-450px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes text-left {
    from{
        opacity: 0;
        transform: translateX(300px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes opacityFade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.mySwiper .swiper-slide-active .slideImg{
    animation: slideImgMotion 1s ease forwards;
    animation-delay: 0.4s;
}
.mySwiper .swiper-slide-active .slideImgTop{
    animation: slideImgMotionTop 0.3s ease forwards;
    animation-delay: 0.4s;
}
.mySwiper .swiper-slide-active .anim-text{
     animation: textAnim 1s ease forwards;
     animation-delay: 0.4s;
}
.mySwiper .swiper-slide-active .anim-btn{
     animation: textAnim 0.6s ease forwards;
     animation-delay: 0.4s;
}
.mySwiper .swiper-slide-active .anim-topTxt{
    animation: anim-top .9s ease forwards ;
    animation-delay: 0.4s;
}
.mySwiper .swiper-slide-active .anim-Watch-img{
    animation: slideImgMotion 0.6s ease forwards;
    animation-delay: 0.4s;
}
.mySwiper .swiper-slide-active .anim-Watch-txt{
    animation: text-left 0.4s ease forwards;
    animation-delay: 1s;
}
.mySwiper .swiper-slide-active .anim-Watch-txtTop{
    animation: anim-topWatch 1s ease forwards;
    animation-delay: 0.2s;
}
.mySwiper .swiper-slide-active .priceTagAnim{
    animation: opacityFade 1s ease forwards;
    animation-delay: 0.4s;
}
.priceTagAnim{
    opacity:0;
}
.anim-text,
.slideImg,
.slideImgTop,
.anim-btn,
.anim-topTxt,
.anim-Watch-img,
.anim-Watch-txt,
.anim-Watch-txtTop {
    opacity: 0;
    transform: translateY(40px);
}
@font-face {
    font-family: "roboto";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Roboto/static/Roboto-Regular.ttf) format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "inter";
    font-weight: 400;
    font-style: normal;
    src: url(./fonts/Inter/static/Inter_18pt-Regular.ttf) format("truetype");
    font-display: swap;
}

.myLabel{
    position: relative;
    display: block;
    width: 52px;
    height: 100px;
    cursor: pointer;
}
.myLabel::after{
    position: absolute;
    content: 'Light';
    color: #2D3748;
    font-weight: bold;
    font-size: 12px;
     display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    width: 45px;
    height: 45px;
    background: white;
    border-radius: 100%;
    bottom: 4px;
    left: 4px;
     transition: all 0.6s ease-in-out;
}
.myLabel::before{
    position: absolute;
    content: '';
    width: 52px;
    height: 100px;
    background: #FED700;
    border-radius: 50px;
    bottom: 0;
    left: 0;
    box-shadow: 1px 1px 10px #0000005b;
    transition: all 0.6s ease-in-out;
}

.myInput{
    display: none;
}
.myInput:checked + .myLabel::after{
    background: black;
    color: rgb(206, 195, 195);
     bottom: 50px;
     content: 'Dark';
     font-weight: bold;
}
.myInput:checked + .myLabel::before{
    background: rgba(216, 212, 212, 0.849);
}
.darkH{
    @apply dark:text-gray-300 
}
.darkbg{
    @apply dark:bg-darkBg dark:text-gray-300
}
.darktxt{
     @apply dark:text-gray-400 
}
.inputRing{
    @apply focus:ring-4 focus:ring-blue-400/10  focus:border-blue-500
}

.featuredSpan{
    @apply font-bold relative dark:border-b-[#181818] after:absolute after:content-[""] after:border-[10px] after:border-t-primary after:-translate-x-1/2 after:left-1/2 after:-bottom-[31px] after:border-white dark:after:border-[#181818] dark:after:border-t-primary before:content-[""] before:absolute before:left-1/2 before:-translate-x-1/2 before:-bottom-[11px] before:w-20 before:h-1 before:bg-primary dark:before:bg-primary
}

.swiper-pagination .swiper-pagination-bullet .swiper-pagination-bullet.active{
    background-color: yellow;
    color: #FED700;
    width: 10px;
}

.promotional-swiper .swiper-pagination {
  bottom: -20px !important;
}

.swiper-pagination-bullets-dynamic {

    
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-horizontal.swiper-pagination-bullets {
    &.swiper-pagination-bullets-dynamic {
        bottom: 0px;
    }
}